.label_input{
    float: left;
    display: block;
}

.annonce{
    border-style: solid;
    border-width: 1px;
    border-left: hidden;
    border-right: hidden;
    border-collapse: collapse;
    margin-top: -1px;
}

.annonce_left{
    background-color: antiquewhite;
}

.annonce_right{
    background-color: #ffffee;
}

body{
    width: 70%;
    margin: auto;
}

#search{
    max-width: 500px;
    margin: auto;
}

#button_recherche_annonce{
    /*position: relative;*/
    /*bottom: 5px;*/
    display: inline-block;
    vertical-align: top;
}

#recherche_annonce{
    min-width: 300px;
    display: inline-block;
    vertical-align: top;
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
}

.img_annonce_left{
    width: 200px;
    height: 175px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 1%;
}

.contenu_annonce_left{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    overflow: auto;
    margin-top: 15px;
}

.titre_annonce_left{
    margin-left: 1%;
}

.titre_annonce_right{
    text-align: right;
    margin-right: 1%;
}

.img_annonce_right{
    width: 200px;
    height: 175px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-right: 1%;
}

.contenu_annonce_right{
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    overflow: auto;
    margin-top: 15px;
    text-align: right;
    width: 82%;
}



.date_publication_annonce{
    /*float: right;*/
    /*vertical-align: bottom;*/
    /*display: inline-block;*/
}